<ion-header [translucent]="true">
  <ion-toolbar>
        <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-breadcrumbs>
  <ion-breadcrumb routerLink="/home">Home</ion-breadcrumb>
  <ion-breadcrumb routerLink="/paginamar1">Historial</ion-breadcrumb>
  <ion-breadcrumb routerLink="/paginamar2">Consultas</ion-breadcrumb>
</ion-breadcrumbs>

    <!-- Botón de filtro a la derecha del toolbar -->
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="filter-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <!-- Logo + Título centrado -->
  <ion-card>

    
    <ion-card-header>
      <ion-item lines="none">

        <ion-label>
         <app-paciente-header
    [titulo]="'Consultas del Paciente ' + patientName"
    subtitulo="Revisa el detalle de las consultas realizadas">
  </app-paciente-header>
        </ion-label>
      </ion-item>
    </ion-card-header>
  </ion-card>
  
  <!-- Lista de consultas -->
  <ion-list class="bordered-list">
    <ion-item button detail="true">Consulta 1 - fecha 01/12/2024</ion-item>
    <ion-item button detail="true">Consulta 2 - fecha 02/11/2024</ion-item>
    <ion-item button detail="true">Consulta 3 - fecha 03/10/2024</ion-item>
    <ion-item button detail="true">Consulta 4 - fecha 04/09/2024</ion-item>
  </ion-list>

  <!-- Última consulta destacada -->
  <ion-card color="danger">
    <ion-card-content class="ion-text-center">
      Última consulta: Hace 20 días
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" routerLink="/nuevaconsulta">
    Añadir consulta
  </ion-button>  

  <!-- Botón volver -->
  <ion-button expand="block" color="medium" routerLink="/home">
    Volver a Home
  </ion-button>



  
</ion-content>
