<ion-header>
  <ion-toolbar>
    <ion-breadcrumbs>
      <ion-breadcrumb routerLink="/home">Home</ion-breadcrumb>
      <ion-breadcrumb routerLink="/paginamar1">Historial</ion-breadcrumb>
    </ion-breadcrumbs>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="container">

  <app-paciente-header
    [titulo]="'Historial del paciente ' + patientName"
    subtitulo="Seleccione una opción para continuars">
  </app-paciente-header>

    <ion-card>
      <ion-card-content>
        <ion-button routerLink="/paginamar2" expand="block" color="success">
          Consultas
        </ion-button>

        <ion-button (click)="verExamenes()" expand="block" color="success">
          Exámenes
        </ion-button>

        <ion-button expand="block" color="success">
          Operaciones
        </ion-button>
        
        <ion-button expand="block" class="scan-button">
          Escaneos totales: {{ totalScans }}
        </ion-button>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>