<ion-header [translucent]="true">
  <ion-toolbar>
        <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-breadcrumbs>
  <ion-breadcrumb routerLink="/home">Home</ion-breadcrumb>
  <ion-breadcrumb routerLink="/paginamar1">Historial</ion-breadcrumb>
  <ion-breadcrumb routerLink="/examenes">Exámenes</ion-breadcrumb>
</ion-breadcrumbs>

    <!-- Botón de filtro a la derecha del toolbar -->
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="filter-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <!-- Logo + Título centrado -->
  <ion-card>
    <ion-card-header>
      <ion-item lines="none">
        <ion-label>
         <app-paciente-header
    [titulo]="'Exámenes del Paciente ' + patientName"
    subtitulo="Revisa el detalle de los exámenes realizadas">
  </app-paciente-header>
        </ion-label>
      </ion-item>
    </ion-card-header>
  </ion-card>
  
  <ion-list>
    <ion-item button detail="true">Exámen 1 - fecha 11/10/2023</ion-item>
    <ion-item button detail="true">Exámen 2 - fecha 03/09/2024</ion-item>
    <ion-item button detail="true">Exámen 3 - fecha 21/4/2025</ion-item>
  </ion-list>

  <ion-card color="danger">
    <ion-card-content class="ion-text-center">
      Último exámen: Hace 5 meses y 6 días
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" color="medium" routerLink="/nuevoexamen">
    Añadir exámen
  </ion-button>  

  <!-- Botón volver -->
  <ion-button expand="block" color="medium" routerLink="/home">
    Volver a Home
  </ion-button>  
</ion-content>
