.ficha-titulo {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000000;
  margin-top: 10px;
}

.perfil-header {
  --background: #30cba1; 
  color: #000000;
  border: 5px solid #000000;
  border-radius: 5px;
  width: 100%;
  margin: 0;

  ion-item {
    --background: transparent;
    width: 100%;
  }
  ion-card-title,
  ion-card-subtitle {
    color: #ffffff !important;
  }
}

.content-header {
  color: #363636;
  border: 5px solid #000000;
  border-radius: 5px;
  border-top: none;
  width: 100%;
  p {
    color: White
  }
}

.botones-fila {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px; 
  margin-top: 16px;
  justify-items: center;

  @media (max-width: 400px) {
    grid-template-columns: 1fr;
  }
}

.login-button {
  width: 20%;
  flex: 1;
  margin: center;
  min-height: 50px;
  min-width: 150px;
  background: #30cba1;
  color: #000000;
  font-weight: bold;
  border: 3px solid #ffffff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-button2 {
  width: 20%;
  flex: 1;
  margin: auto;
  min-height: 50px;
  min-width: 150px;
  background: #30cba1;
  color: #000000;
  font-weight: bold;
  border: 3px solid #000000;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-items: center;
}

.tarjeta-clara {
    background-color: #666;
    border: 5px solid #000000;
    border-radius: 8px;
    width: 95%;
    overflow: hidden;
    margin: auto;

    h1 {
      color: #ffffff;
      text-align: center;
      font-weight: bold;
    }
}

ion-content {
  --background: var(--ion-color-light);
}