<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" offset-md="3">

        <ion-card *ngFor="let paciente of pacientes$ | async">
          <ion-card-header class="perfil-header">
            <ion-item lines="none">
              <ion-avatar slot="start">
                <img src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-avatar>
              <ion-label>
                <ion-card-title>{{ paciente.nombre }}</ion-card-title>
                <ion-card-subtitle>ID: {{ paciente.id }}</ion-card-subtitle>
                <ion-card-subtitle>RUT: {{ paciente.rut }}-{{ paciente.dv }}</ion-card-subtitle>
              </ion-label>
            </ion-item>
          </ion-card-header>
          <ion-card-content>
            <ion-button expand="block" color="primary" [routerLink]="['/paginamar1']">
              Ver historial médico
            </ion-button>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>